$shadow--small: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$shadow--medium: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$shadow--large: 0 1rem 3rem rgba(0, 0, 0, 0.175);

:root {
  --shadow--small: #{$shadow--small};
  --shadow--medium: #{$shadow--medium};
  --shadow--large: #{$shadow--large};
}
