$sz--1: 0.5rem;
$sz--2: 1rem;
$sz--3: 1.5rem;
$sz--4: 2rem;
$sz--5: 2.5rem;
$sz--6: 3rem;
$sz--7: 3.5rem;
$sz--8: 4rem;
$sz--9: 4.5rem;
$sz--10: 5rem;
$sz--11: 5.5rem;
$sz--12: 6rem;

:root {
  --sz--1: #{$sz--1};
  --sz--2: #{$sz--2};
  --sz--3: #{$sz--3};
  --sz--4: #{$sz--4};
  --sz--5: #{$sz--5};
  --sz--6: #{$sz--6};
  --sz--7: #{$sz--7};
  --sz--8: #{$sz--8};
  --sz--9: #{$sz--9};
  --sz--10: #{$sz--10};
  --sz--11: #{$sz--11};
  --sz--12: #{$sz--12};
}
