$sp--1: 0.5rem;
$sp--2: 1rem;
$sp--3: 1.5rem;
$sp--4: 2rem;
$sp--5: 2.5rem;
$sp--6: 3rem;
$sp--7: 3.5rem;
$sp--8: 4rem;
$sp--9: 4.5rem;
$sp--10: 5rem;
$sp--11: 5.5rem;
$sp--12: 6rem;

:root {
  --sp--1: #{$sp--1};
  --sp--2: #{$sp--2};
  --sp--3: #{$sp--3};
  --sp--4: #{$sp--4};
  --sp--5: #{$sp--5};
  --sp--6: #{$sp--6};
  --sp--7: #{$sp--7};
  --sp--8: #{$sp--8};
  --sp--9: #{$sp--9};
  --sp--10: #{$sp--10};
  --sp--11: #{$sp--11};
  --sp--12: #{$sp--12};
}
